node_modules
npm-debug.log
dist
.git
.gitignore
.vscode
.env
.env.*
!.env.example
Dockerfile
.dockerignore
Dockerfile*
docker-compose*
README.md
*.md
.editorconfig
.gitattributes
.idea
*.log
.cache
coverage
*.tar.gz
*.zip
*.tar
*.tgz
*.swp
*.swo
.DS_Store
Thumbs.db
client/node_modules
client/dist
client/coverage
client/.svelte-kit
client/build
client/.env
client/.env.*
!client/.env.example
server/node_modules
server/dist
server/coverage
server/.env
server/.env.*
!server/.env.example
